# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

#disk
*.img

#kernel
kernel/kernel

#user
user/_*
user/*.asm
user/*.o
user/*.d
.gdbinit

#vscode
.vscode/

#build

build/

#link： riscv64
riscv-syscalls-testing/user/riscv64

#kernel
kernel-qemu
sbi-qemu

#libulib.a
!user/lib/libulib.a